<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RSL Fan Site</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/styles/css/main.css}" />
</head>
<body>
<div th:fragment="copyright">
    &copy; 2025-<span th:text="${currentYear}"></span> Martijn Jansen. All rights reserved.
    Version <span th:text="${versionNumber}"></span> (<span th:text="${applicationDate}"></span>)
    <span th:if="${supportId != null and supportId != 'N/A'}"
        style="margin-left: 10px; color: #666; font-size: 0.8em;"
        title="Provide this ID to support for error tracking">
            | SID: <span th:text="${supportId}"></span>
    </span>

    <div id="loading-overlay">
        <div class="spinner"></div>
        <div id="loading-text">Processing...</div>
    </div>

    <div th:insert="~{inserts/notice-modal :: notice-modal}"></div>
</div>
</body>
</html>