<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <div th:fragment="nav">
            <h1><a href="/index" id="logo">RSL Fan Site</a></h1>

            <nav id="nav">
                <a href="/index">Homepage</a>
                <a href="/champions">Champions</a>
                <a href="/clanmembers">Clanmembers</a>

                <a th:if="${clanmemberViewData}"
                   th:href="@{/profile}"
                   th:text="${clanmemberViewData.discordUserName}">
                    Logged In User
                </a>

                <a th:unless="${clanmemberViewData}" href="/login" title="Login">
                    Login
                </a>

            </nav>
        </div>
    </body>
</html>