<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="nav">
    <h1><a href="/index" id="logo">Fury of the Fallen</a></h1>

    <nav id="nav">
        <a href="/index">Homepage</a>
        <a href="/champions">Champions</a>
        <a href="/clanmembers">Clanmembers</a>

        <a href="/profile"
           title="Profile"
           sec:authorize="isAuthenticated()"
           th:text="${navUserViewData != null ? navUserViewData.discordUserName : 'Profile'}">
            Profile
        </a>

        <a href="/login"
           title="Login"
           sec:authorize="isAnonymous()">
            Login
        </a>

    </nav>
</div>
</body>
</html>