<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{inserts/head :: head(pageTitle='Login')}">
</head>
<body>
<div id="page-wrapper">
	<section id="header">
		<div th:insert="~{inserts/nav :: nav}" class="container">
		</div>
	</section>

	<section id="content">
		<div class="container">
			<section>

			</section>
		</div>
	</section>

	<div th:insert="~{inserts/copyright :: copyright}" id="copyright">
	</div>
</div>
</body>
</html>