<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{inserts/head :: head(pageTitle='Fury of the Fallen')}">
</head>
<body>
<div id="page-wrapper">
	<section id="header">
		<div th:insert="~{inserts/nav :: nav}" class="container">
		</div>

		<div id="banner">
			<div class="container">
				<p>This is a website, in case you did not know yet! And if you did know, it is still a website.</p>
			</div>
		</div>
	</section>

	<section id="content">
		<div class="container">
			<div th:replace="~{inserts/alerts :: warning-box(${roleWarning})}"></div>

			<div sec:authorize="isAuthenticated()">
				<div th:if="${#authorization.expression('isAuthenticated()')
						 and !#authorization.expression('hasRole(''ROLE_ADMIN'')')
						 and !isInBeta}"
					 class="welcome-box warning">
					<i class="fas fa-lock welcome-icon"></i>
					<h3>Closed Beta Access</h3>
					<p>Welcome, <strong th:text="${navUserViewData.discordUserName}">User</strong>! The website is currently in a <strong>Closed Beta</strong> phase for leadership. Access for all clan members will be opened soon.</p>
				</div>

				<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or isInBeta}"
					 class="welcome-box success">
					<i class="fas fa-check-circle welcome-icon"></i>
					<strong>Beta Access Active:</strong> You have full access to the Siege and Member management tools. I guess Kloep decided you are important enough! Now give him a cookie.
				</div>
			</div>
		</div>
	</section>

	<div th:insert="~{inserts/copyright :: copyright}" id="copyright">
	</div>
</div>
</body>
</html>